<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YetAnotherNewsSite</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Styles.css" />
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
</head>
<body>
    <div id="page-container">
        <div class="content-wrapper">
            <header>
                <div class="nav-wrapper">
                    <nav class="navbar">

                        <div class="navbar-logo">
                            <a class="navbar-brand" href="#">YANS NEWS</a>
                        </div>

                        <div class="searchContainer">
                            <form action="~/Home/Search" method="post">
                                <input class="searchbar" name="searchTerm" />
                                <button class="submit" type="submit" value="Search"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <ul class="access">
                            <a href="#"><span class="btn glyphicon glyphicon-user"></span> Sign Up</a>
                            <a href="#"><span class="btn glyphicon glyphicon-log-in"></span> Login</a>
                        </ul>

                    </nav>
                </div>
            </header>
            <main>
                <div class="container">
                    <div class="form pb-3" role="main">
                        @RenderBody()
                    </div>
                </div>
            </main>
        </div>
        <footer class="border-top">
            <div class="center">
                YANS NEWS
            </div>
            <div class="center">
                <div class="social-group">
                    <div class="social-item">
                        <img src="~/Images/Instagram_icon.png" alt="instagram">
                    </div>
                    <div class="social-item">
                        <img src="~/Images/Facebook_icon.png" alt="facebook">
                    </div>
                    <div class="social-item">
                        <img src="~/Images/Twitter_icon.png" alt="twitter">
                    </div>
                </div>
                <div class="policies">
                    <a class="info-item fi" asp-area="" asp-controller="Home" asp-action="Cookie Policy">Cookie Policy</a>
                    <a class="info-item se">/</a>
                    <a class="info-item th" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </div>
                <div class="center">
                    &copy; 2020 - YetAnotherNewsSite
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
