@model Article
<table class="table table-sm table-bordered m-1 p-1">
    <p><b>@Model.Title</b></p>
    <img src="@Model.Main_Image" width="800px" height="auto" />
    <p style="margin-bottom: 100vh;">@Model.Text</p> 
</table>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
}



