@model List<Article>


    @foreach (var article in Model)
    {
        <div class="container">
            <a asp-controller="Article" asp-action="Index" asp-route-id="@article.Uuid.ToString()">
                <p><b>@article.Title</b></p>
                <img src="@article.Main_Image" width="800px" height="auto" />
            </a>
        </div>
    }

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
}


