@model List<Article>
<div class="bg-primary m-1 p-1 text-white"><h4>User Details</h4></div>
<table class="table table-sm table-bordered m-1 p-1">
    @foreach (var article in Model)
    {
    <a asp-controller="Article" asp-action="Index" asp-route-id="@article.Uuid.ToString()">
        <p><b>@article.Title</b></p>
        <img src="@article.Main_Image" width="800px" height="auto" />
    </a>
    }
</table>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
}


