@model List<Article>

@foreach (var article in Model)
{
    <div class="article-container">
        <a asp-controller="Article" asp-action="Index" asp-route-id="@article.Uuid.ToString()">
            <div class="overlay-container">
                <img src="@article.Main_Image" class="img-size" />
                <div class="overlay-object"><h2>@article.Title</h2></div>
            </div>
        </a>
    </div>
}

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
}


